body {
    font-family: montserrat;
    display: flex;
    flex-direction: column;
}

body > * {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.violet {
    color: violet;
}